<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="members">
	<insert id="join" parameterType="members.dto.MembersDTO">
		INSERT INTO membersBasic (memId, memPw, memName, memType, memJoinDate)
		VALUES('#{memId}','#{memPw}','#{memName}',1, sysdate)
	</insert>

</mapper>